@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(42, 51, 62);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.title h1 {
  text-align: center;
  color: white;
  font-size: 90px;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 50px;
}

.container {
  background-color: rgb(255, 255, 255);
  width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px 35px 40px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(30, 33, 61, 0.2);
}
.container h1 {
  margin-bottom: 10px;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search-box input {
  padding: 15px 25px;
  width: 70%;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.search-box button {
  padding: 15px 25px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgba(228, 28, 28, 0.7);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.search-box button:hover {
  transition: 0.8s;
  color: rgb(255, 255, 255);
  background-color: rgba(65, 139, 236, 0.856);
  cursor: pointer;
}
.result {
  position: relative;
}
.result h3 {
  font-size: 30px;
  color: black;
}
.result .word {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.result button {
  background-color: transparent;
  color: #ae9cff;
  border: none;
  outline: none;
  font-size: 10px;
}
.result .details {
  display: flex;
  gap: 10px;
  color: #b3b6d4;
  margin: 5px 0 20px 0;
  font-size: 14px;
}

.word-meaning {
  color: #575a7b;
}

.word-example {
  color: #575a7b;
  font-style: italic;
  border-left: 5pc solid #ae9cff;
  padding-left: 20px;
  margin-top: 30px;
}
.error {
  margin-top: 50px;
  text-align: center;
  font-weight: 300;
  background-color: rgba(255, 0, 0, 0.077);
}
.word i {
  font-size: 20px;
}
.word i:hover {
  cursor: pointer;
  color: #015798;
}

.word h3 {
  font-size: 50px;
}

.socials i {
  color: rgba(128, 128, 128, 0.445);
  font-size: 30px;
  margin-left: 5px;
}
.socials i:hover {
  color: white;
  cursor: pointer;
}

footer {
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer p {
  color: white;
}